<!DOCTYPE html>
<html>
<head>
    <title>Авторы курсов</title>
</head>
<body>
    <h1>Наши авторы</h1>
    <nav>
        <a href="{% url 'app_selector' %}">Выбор приложения</a> |
        <a href="{% url 'catalog_index' %}">Главная каталога</a> |
        <a href="{% url 'coursess' %}">Курсы</a> |
        <a href="{% url 'authors' %}">Авторы</a> |
        <a href="{% url 'info' %}">О проекте</a>
    </nav>
    
    <ul>
    {% for author in authors %}
        <li>
            <a href="{% url 'authors_details' author.id %}">{{ author.name }}</a>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
