<!DOCTYPE html>
<html>
<head>
    <title>О проекте</title>
</head>
<body>
    <h1>О проекте</h1>
    <nav>
        <a href="{% url 'app_selector' %}">Выбор приложения</a> |
        <a href="{% url 'catalog_index' %}">Главная каталога</a> |
        <a href="{% url 'coursess' %}">Курсы</a> |
        <a href="{% url 'authors' %}">Авторы</a> |
        <a href="{% url 'info' %}">О проекте</a>
    </nav>
    
    <h2>Каталог курсов</h2>
    <p>Версия 1.0</p>
    <p>Это учебный проект для изучения Django</p>
    <p>Стек технологий: Django, HTML</p>
</body>
</html>
