<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание студентов</title>
</head>
<body>
    <h1>Добавить студента</h1>
    <form method="post">
        {% csrf_token %}

        <label>
            Имя:
            <input type="text" name="first_name" required>
        </label>
        <br><br>

        <label>
            Фамилия:
            <input type="text" name="last_name" required>
        </label>
        <br><br>

        <label>
            Email:
            <input type="email" name="email" required>
        </label>
        <br><br>
        
        <label>
            Дата рождения:
            <input type="date" name="birth_date" required>
        </label>
        <br><br>

        <button type="submit">Сохранить</button>
    </form>
</body>
</html>