<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание преподавателей</title>
</head>
<body>
    <nav>
        <a href="{% url 'schedule_index' %}">Преподаватели</a> |
        <a href="{% url 'courses' %}">Курсы</a> |
        <a href="{% url 'student_index' %}">Студенты</a> |
    </nav>
    <hr>

    <h1>Добавить преподавателя</h1>
    <form method="post">
        {% csrf_token %}

        <label>
            Имя:
            <input type="text" name="first_name" required>
        </label>
        <br><br>

        <label>
            Фамилия:
            <input type="text" name="last_name" required>
        </label>
        <br><br>

        <label>
            Email:
            <input type="email" name="email" required>
        </label>
        <br><br>

        <button type="submit">Сохранить</button>
    </form>
    <br>
    <a href="{% url 'schedule_index' %}">Вернуться к преподавателям</a>
</body>
</html>
